#top {
    height: 800px;    
}

.top-wrap {
    display: flex;
    width: 100%;

    .top-item {
        background-color: white;
        width: 600px;
        height: 100%;
        text-align: center;
        margin: auto 0;

        .top-title {
            font-family:  ヒラギノ明朝 Pro;
            font-size: 37px;
            line-height: 38px;
            margin-bottom: 50px;
            }
        .top-catch {
            font-size: 30px;
            font-family: Zapfino;
            line-height: 128px;
            letter-spacing: 10px;
             }
        }
    .top-img img {
        width: 700px;
        height: 800px;
        background-size:cover;
        }


        
    }